@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 14px 'Roboto', sans-serif;
  background-color: #222629;
  color: #6b6e70;
  height: 100vh;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section{
  border: 1px dashed white;
  padding: 20px;
}

header {
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
}

/* MESSAGES */
.messages {
  width: 300px;
}

.title {
  margin-bottom: 10px;
}

input {
  background-color: rgba(0,0,0, 0.3);
  width: 250px;
  border: 1px solid #ddd;
  height: 32px;
  padding: 0 20px;
  font-size: 14px;
  color: #eee
}

button {
  height: 32px;
  width: 250px;
  color: #fff;
  background-color: darkgreen;
  border:0;
  border-radius: 4px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.all-messages {
  background-color: rgba(0,0,0, 0.3);
  height: 400px;
  width: 250px;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 10px 0;
}

.remote-info {
}

.local-info {
  padding-left: 20px;

  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.messages-container {
  margin-top: 20px;
  width: 300px;
  height: 100%;
}

#local-video {
  border: 1px solid green;
  /* position: absolute; */
  width: 300px;
  /* bottom: 3px; */
}

#remote-video {
  border: 1px solid red;
  width: 700px;
  height: 500px;
}
